*{
    margin: 0;
    padding: 0;
    border: 0;
}
.all{
    padding-top: 50px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.partes{
    width: 33.333333333333333333333%;
    padding: 40px;
    background-color: rgb(10, 0, 39);   
    margin-bottom: 20;
}
.partes p{
    color: white;
    
}
.partes h2{
    color: rgb(255, 217, 0);
    font-family:'Kanit', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.quemsomos{
    background-color: #170041;
}
.oquefazemos{
    background-color: #04023d;
    border: rgb(0, 0, 0) 1px solid;
    border-bottom: 0;

}
.objetivos{
    background-color: #19001f;
}

#redes{
    display: flex;
}
.allRede{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color:  #2e0030;
    width: 50%;
    border: rgb(0, 0, 0) 1px solid;

}
.allRede2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color:  #120052;
    width: 50%;
    border: rgb(0, 0, 0) 1px solid;
    border-right: 0;
}

.redesocial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.redesocial img{
    width: 80px;
}
.redesocial h3{
    color: #fff;
    font-size: 17pt;
}
.redesocial a{
    text-decoration: none;
}

/* navbar */


.navbar{
    background-color: #030022;;
    z-index: 999;
}
.nav-link{
    color: rgb(255, 255, 255);
}

.navbar-toggler{
    border-color: white;
    background-color: rgb(255, 255, 255);
}
#menu .navbar-brand img{
    width: 50px;
}

/* rodapé */

.rodape{
    min-height: 300px;
    background-color: rgb(2, 1, 31);
}

.rodape{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.links{
    width: 300px;
}

.links .list-group-item{
    background-color: rgba(0, 0, 0, 0.24);
}

.links a{
    color: rgb(151, 150, 150);
}

.copy{
    width: 100%;
    background-color: rgb(2, 1, 31);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px  solid rgb(255, 255, 255);
  
}
.copy p{
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    font-size: 13pt;
}




@media (max-width: 1000px){
    .partes{
        width: 50%;
    }
    .objetivos{
        width: 100%;
    }
}

@media (max-width: 600px){
    .partes{
        width: 100%;
    }
    #redes{
        flex-direction: column-reverse;
    }
    .allRede{
       width: 100%;
    
    }
    .allRede2{
       width: 100%;
    }

    .redesocial img{
        width: 60px;
    }
    .redesocial h3{
        color: #fff;
        font-size: 15pt;
    }
    .copy p{
        font-size: 10pt;
    }
}
