*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #210047;
}


.cardsList{
    padding-top: 66px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 200px;

    height: 95vh;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.card{
    margin-top: 20px;
    background-color: rgba(3, 3, 8, 0.336);
}
.card-body{
    height: 170px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.card-title{
    color: #fff;

}
.card img{
    width: 100%;
}

.card-text{
    color: #fff;
}

/* carrinho */


.carrinho{
    width: 450px;
    height: 90px;
    margin-top: -40px;
    margin-left: auto;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    border-top-right-radius: 30px;
    background-color: #030022;
    padding-bottom: 20px;
}
.carrinho p{
    font-size: 15pt;
    color: rgb(255, 255, 255);
    margin-top: 14px;
}
.carrinho p span{
    font-weight: bold;
}


/* comprar div */

#divComprar{
    z-index: 998;
    width: 400px;
    background-color: rgba(0, 5, 34, 0.897);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    margin-top: -500px;
    padding: 20px;
    border-radius: 20px;

    color: #fff;

}
#xImg{
    width: 40px;
    margin-top: -35px;
    margin-right: -400px;
}
#divComprar h4{
    margin-top: 30px
}
#divComprar form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#divComprar form input{
    width: 300px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
}



 .arquivo{
    padding: 7px;
    background-color: rgb(24, 0, 90);
    border-radius: 15px;
    color: #fff;
}

form .btn{
    margin-top: 20px;
    width: 350px;
}

.formi{
    background-color: rgb(33, 2, 104);
    
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 30px;
    border-radius: 10px;
    margin-top: 20px;
    width: 350px;
}
.codigo{
    background-color: rgb(33, 2, 104);
    
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 30px;
    border-radius: 10px;
    margin-top: 20px;
    width: 350px;
    margin-top: -15px;
}

/* navbar */


.navbar{
    background-color: #030022;;
    z-index: 999;
}
.nav-link{
    color: rgb(255, 255, 255);
}

.navbar-toggler{
    border-color: white;
    background-color: rgba(150, 150, 150, 0.082);
}
#menu .navbar-brand img{
    border: white dashed 1px;
    border-radius: 4px;
    width: 45px;
}



/* responsividade */
@media (max-width: 1300px){
    .carrinho{
        margin-top: -30px;
        width: 350px;
    }
    .cardList{
        padding-bottom: 70px;
    }
    .divFantasma{
        height: 80px;
        width: 100%;
    }
}
